# Node modules
node_modules/

# Build výstupy
dist/
.next/
.vercel/

# Logy
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systémové soubory
.DS_Store
Thumbs.db

# Lokální prostředí
.env
.env.local
